@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montez&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

.wrapper {
  height: var(--header-height);
  width: 100%;
  background-color: var(--header);
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow)

}

.container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Merienda One", cursive;
  font-size: 44px;
  font-weight: 600;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
