.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc( 100vh - 4.5rem);
  

}

.form{
  background-color: var(--login-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 70px;
  box-shadow: var(--box-shadow);
}


.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}

.input{
  border: none;
  border-radius: 6px;
  padding: 16.5px 45px;
  outline: none;
  width: 338px;
}


.input-form{
  background: linear-gradient(
    90deg,
    rgb(41, 40, 40),
    rgb(82, 82, 82),
    rgb(170, 169, 170)
  );
  padding: 16.5px 20px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
}

.iconEye{
  position: absolute;
  top: 45px;
  right: 12px;
  cursor: pointer;
  // left: 250px;
}

.icon{
  position: absolute;
  top: 45px;
  left: 12px;
}
